---

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

---

<article class="flex flex-col items-center justify-center gap-8 text-secondary md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-primary [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty "
  >
    <p>
      {i18n.About.parragraph1[1]}<strong class="italic"> {i18n.About.parragraph1[2]} </strong>{i18n.About.parragraph1[3]}
    </p>

    <p>
      <strong>{i18n.About.parragraph2[1]}</strong>
      {i18n.About.parragraph2[2]} 
      <strong> {i18n.About.parragraph2[3]} </strong> 
      {i18n.About.parragraph2[4]}
      <strong>{i18n.About.parragraph2[5]}</strong>.
    </p>

    <p>
      {i18n.About.parragraph3[1]}<strong> {i18n.About.parragraph3[2]} </strong>. {i18n.About.parragraph3[3]} <strong>{i18n.About.parragraph3[4]}</strong>
    </p>
  </div>

  <div class="text-center flex flex-col justify-center object-cover w-64 h-full p-1 rotate-2 lg:p-2 lg:w-1/2 aspect-square rounded-2xl ring-2 ring-primary">
    <h1 class="text-xl text-primary font-semibold mb-2 hover:underline">References</h1>
    <span>Felix Leonardo Alpizar</span>
    <span>Gabriel Quirós</span>
    <span>Osvaldo Vega</span>
    <span>Carlos Luis Rojas</span>
  </div>

</article>
