---
import LinkButton from "./Icons/LinkButton.astro"
import Tailwind from "./Icons/Tailwind.astro"
import GitHub from "./Icons/GitHub.astro"
import Link from "./Icons/Link.astro"

const { title, description, image, tags, github, link, href, ClassName} = Astro.props

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });


---



<article class={ClassName}>
    <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-secondary lg:hover:border-primary lg:hover:bg-primary">
            <img alt="" transition:name={title} class="object-cover object-top w-full h-full transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="eager" src={image} />
        </div>
    </div>

    <div class="w-full flex flex-wrap md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-secondary-100 ">
            {title}
        </h3>
        <div class="mt-2">
            <ul class="flex flex-wrap flex-row mb-2 gap-2">
                {tags.map((tag) => (
                    <li>
                    <span
                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                    >
                        <tag.icon class="size-4" />
                        {tag.name}
                    </span>
                    </li>
                ))}
            </ul>

            <div class="m-2 text-secondary">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
                {github && (
                    <LinkButton href={github}>
                    <GitHub class="size-6" />
                    Code
                    
                    </LinkButton>
                )}
                {link && (
                    <LinkButton href={link}>
                    <Link class="size-4" />
                    Preview
                    </LinkButton>
                )}
                {href && (
                    <a href={href} role="link" class="inline-flex items-center text-lg font-medium text-primary hover:underline">
                    {i18n.btn[1]}
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" viewBox="0 0 24 24">
                        <path fill="#64ffda" d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" />
                    </svg>
                    </a>
                )}
                
            </footer>
        </div>
    </div>
</article>